<% page_title "Contact" %>

<div class="page-header">
  <h1>Contact Info</h1>
</div>

<div class="row">
  <p>This software developed by Nat Tuck &lt;nat☃ferrus.net&gt;</p>
  <p>For bug reports and pull requests, use Github: 
  <a href="https://github.com/fogcloud/fogweb">github.com/fogcloud/fogweb</a>.</p>
</div>
