<% page_title "Dashboard" %>

<div class="page-header">
  <h1>Your Dashboard</h1>
</div>

<div class="row">
  <p>Here's where you can control your FogSync.com file storage.</p>
  <p>Current date: <span class="local-date"><%= Time.now %></span></p>
</div>
