<% page_title "Log In" %>

<div class="welcome-page">
  <div class="page-header">
    <h1>Welcome to the FogSync.com Sync Manager</h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="content-box">
        <p>Need an account?</p>
        <p><%= link_to "Register New Account", new_user_registration_path %></p>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="content-box">
        <p>Have an account?</p>
        <p><%= link_to "Sign In", new_user_session_path %></p>
    </div>
    </div>
  </div>
</div>
