
<div class="row">
  <h1>Upload a tarball of blocks</h1>
</div>

<div class="row">
  <%= form_tag({action: :upload}, multipart: true) do %>
    <p>
       <%= label_tag :tarball do %>
         Tarball
         <%= file_field_tag :tarball %>
       <% end %>
    </p>

    <p><%= submit_tag "Upload Tarball" %></p>
  <% end %>
</div>
