
.nav-text {
    height: 50px;
    padding: 15px;
    line-height: 20px;
    color: white;
}

.main-content {
    min-height: 6in;
}

.content-box {
    border: 2px solid grey;
    background-color: #ccf;
    border-radius: 5px;
    margin: 15px;
}

.footer {
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding: 1ex;
    border-top: thin solid grey;
}

.footer p {
    max-width: 8in;
    margin: auto;
}
